---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import SocialPill from '../icons/SocialPill.astro';
import GitHub from '../icons/GitHub.astro';
import Gmail from '../icons/Gmail.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Briefcase from '../icons/Briefcase.astro';
---

<Layout 
	title="Portafolio de Daniel - Desarrollador y Programador Full-Stack"
	description=""
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<img
				class="rounded-full size-12 mb-4"
				src="https://mail.google.com/mail/u/1?ui=2&ik=c6a6a6b820&attid=0.1&permmsgid=msg-f:1782198043141933846&th=18bba3ad80df0b16&view=att&disp=inline"
				alt="dani photo"
			/>

			<h1 class="text-white text-3xl md:text-4x1 lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola, soy Daniel <a
				href="https://www.linkedin.com/in/danielgonzalez-rodriguez/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="text-yellow-200/90">Desarrollador full-stack </span><span>recien titulado.</span> 
				<span>Resido en Madrid, España.</span> <span>Especializado en Java.</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/danielgonzalez-rodriguez/">
					<LinkedIn class="size-4 md:size-6" />
						LinkedIn
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/danielgonzalez-rodriguez/">
					<GitHub class="size-4 md:size-6" />
						GitHub
				</SocialPill>
				<SocialPill href="mailto:danielgrjob@gmail.com">
					<Gmail class="size-4 md:size-6" />
						danielgrjob@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
