---
const personalImageAlt = "Daniel González";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-00 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Daniel González empecé programando un Piedra Papel o Tijera con 12 años en Pseint en el ordenador de mis padres.  <strong
      >Actualmente estoy buscando trabajo como desarrollador de software (backend y/o frontend) </strong
      > a la par que desarrollo mis propios proyectos de software.
    </p>

    <p>
      Como proyecto futuro, cuando consiga más experiencia, voy a abrir un <strong>canal de
      YouTube y TikTok</strong> para ayudar a las personas nuevas dentro
      del sector de la programación para guiarles y facilitarle este camino tan bonito.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/Foto Daniel.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-green-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
