---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Agosto 2024 - Actualmente",
    title: "Desarrollador Web",
    company: "PyD: Perfumes y Diseño",
    description:
      "Desarrollo web. Tecnologías utilizadas: Java, Springboot, TypeScript, Angular, OracleSQL y Postman."
  },
{
    date: "Marzo 2024 - Junio 2024",
    title: "Desarrollador Full-Stack",
    company: "NTT Data",
    description:
      "Arreglo de bugs y soporte en backend y frontend, desarrollo de nuevas funcionalidades y mantenimiento de las existentes. Tecnologías utilizadas: Java, Springboot, TypeScript, Angular, OracleSQL y Postman."
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>