---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Marzo 2024 - Junio 2024",
    title: "Desarrollador Full-Stack (Becario)",
    company: "NTT Data",
    description:
      "Arreglo de bugs y soporte en ambas partes del proyecto (backend y frontend) haciendo uso de herramientas como Java, Springboot, TypeScript, AngularJS, OracleSQL y Postman."
  },
  {
    date: "Actualmente...",
    title: "Desarrollando proyectos propios",
    description:
      "En estos momentos me encuentro trabajando como desarrollador de software a la par que creando aplicaciones personales y estar reforzando mis conocimientos en mis herramientras de trabajo.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>