---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Agosto 2024 - Actualmente",
    title: "Desarrollador Full-Stack Junior",
    company: "PyD: Perfumes y Diseño",
    description:
      "<span class=\"font-bold text-gray-300\">Responsable del Desarrollo Web</span> con 7 páginas web a cargo y <span class=\"font-bold text-gray-300\">Responsable de Middleware</span>, incluyendo conexión entre aplicaciones a través de API's y Webhooks sumado a la automatización de procesos.",
    technologies: "NodeJS, PHP, JavaScript, ZohoCRM, Postman, MySQL, n8n, Git, Docker"
  },
{
    date: "Marzo 2024 - Junio 2024",
    title: "Desarrollador Full-Stack (Beca)",
    company: "NTT Data",
    description:
      "Arreglo de bugs y soporte en <span class=\"font-bold text-gray-300\">backend y frontend</span>, desarrollo de nuevas funcionalidades y mantenimiento de las existentes.",
    technologies: "Java, Springboot, TypeScript, Angular, OracleSQL y Postman"
  },
  
]
---

<ol class="relative mt-16 stagger-animation">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>