---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Marzo 2024 - Junio 2024",
    title: "Desarrollador Full-Stack (Becario)",
    company: "NTT Data",
    description:
      "Arreglo de bugs y soporte en ambas partes del proyecto (backend y frontend) haciendo uso de herramientas como Java, Springboot, TypeScript, AngularJS, OracleSQL y Postman."
  },
  {
    date: "Actualmente...",
    title: "Desarrollando proyectos propios",
    description:
      "Actualmente me encuentro desarrollando varias aplicaciones personales además de estar aprendiendo algunas tecnologías nuevas para aplicarlas en mi próximo puesto de trabajo",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>