---
import Gmail from "../icons/Gmail.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import SocialPill from "./SocialPill.astro";
import Badge from "./Badge.astro";
import GitHub from "../icons/GitHub.astro";

const personalImageAlt = "Daniel González";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <div class="rounded-full shadow-lg overflow-hidden w-32 h-32">
        <img
            class="w-full h-full object-cover"
            src="/Foto Daniel.webp"
            alt="Descripción de la imagen"
        />
    </div>
    <a
        href="https://www.linkedin.com/in/danielgonzalez-rodriguez/"
        target="_blank"
        rel="noopener"
    >
      <div class="flex flex-col items-center justify-center stagger-animation transition md:justify-center md:hover:scale-105">
        <Badge class="pulse-animation">Disponible para colaborar</Badge>
      </div>
    </a>
</div>

  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white relative py-1"
  >
    <span class="gradient-text inline-block">Hola, soy Daniel</span>
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-green-300 [&>strong]:text-green-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Desarrollador Full-Stack Junior</strong> especializado en <strong>NodeJS</strong>, PHP y JavaScript. Experiencia creando soluciones web y <strong>conectando sistemas mediante APIs</strong>. Resido en Madrid, España.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:danielgrjob@gmail.com">
      <Gmail class="size-4" />
      danielgrjob@gmail.com
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/danielgonzalez-rodriguez/">
      <LinkedIn class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/DaniGonzaR">
      <GitHub class="size-5" />
      GitHub
    </SocialPill>
  </nav>
  
</div>
